<div>
  <h1 class="text-center">Welcome to Tauri + Angular!</h1>
  <div>
    <form (submit)="addNote($event, noteTitle.value, noteBody.value)">
      <div class="m-2">
        <input
          #noteTitle
          placeholder="Enter a name..."
          class="input input-bordered w-full"
        />
      </div>
      <div class="m-2">
        <textarea
          #noteBody
          placeholder="Enter a body..."
          class="textarea textarea-bordered w-full h-[25rem]"
        ></textarea>
      </div>
      <div class="m-2">
        <button type="submit" class="btn btn-primary btn-outline">Greet</button>
      </div>
    </form>
  </div>
</div>
