<form [formGroup]="form" (submit)="onSubmit()">
  <div class="m-2">
    <input
      formControlName="title"
      placeholder="Enter a title..."
      class="input input-bordered w-full"
    />
  </div>
  <div class="m-2">
    <textarea
      formControlName="body"
      placeholder="Enter a text..."
      class="textarea textarea-bordered w-full h-[25rem]"
    ></textarea>
  </div>
  <div class="m-2">
    <button type="submit" class="btn btn-primary btn-outline">Save</button>
  </div>
</form>
